In [1]:
# Assumes Anaconda Distribution

# For data manipulation
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
PROJ_ROOT = os.pardir

# For Scraping
from bs4 import BeautifulSoup
import requests
import time

# For munging
import re
import json

# Backoff time for large scrapes
THROTTLE_TIME = .05

# ipython magics
%load_ext watermark
%matplotlib inline
# a nice bonus for making progress bars in ipython
from tqdm import tqdm, tqdm_pandas, tqdm_notebook
tqdm.pandas()

In [14]:
!ls "../data/processed"

high_schools_processed.csv
player_bios_processed.csv
player_bios_processed_wrapped.csv
rosters_processed.csv

In [36]:
procPath = os.path.join(PROJ_ROOT, 'data', 'processed')
interimPath = os.path.join(PROJ_ROOT, 'data', 'interim')
df = pd.read_csv(os.path.join(procPath, "player_bios_processed.csv"))

In [25]:
df.columns

Index([u'Student_ID', u'Name', u'City', u'High School', u'Hometown', u'Ht.',
       u'No.', u'Position', u'Region', u'Wt.', u'Active Seasons', u'Misc',
       u'Bio', u'College'],
      dtype='object')

In [31]:
df['Hometown']

0                          Bonne Terre, MO / North County
1                      Seattle, Wash. / South Kent School
2                     Buena Park, Calif. / Vista Murrieta
3                   Altamonte Springs, FL / Lake Brantley
4       Port Washington, N.Y. / Paul D. Schreiber High...
5              Somerset West, South Africa / Panel Vallei
6          Eden Prairie, Minn. / Eden Prairie High School
7          St. Catharines, Ont., Canada / Governor Simcoe
8                                   Cypress, TX / Cy-Fair
9                                                   - / -
10                       Miramar, Fla. / Somerset Academy
11               Barnstable, MA / Phillips Exeter Academy
12                 Eagle River, Alaska / Brewster Academy
13                            Dover, NH / Phillips Exeter
14                          Olney, Md. / Montgomery Blair
15                               Richmond, Va. / Deep Run
16               Newton, Mass. / Newton North High School
17                                   Burke, VA / Robinson
18                  Dover, MA / Choate Rosemary Hall (CT)
19                                Jericho, N.Y. / Jericho
20                   Seattle, Wa. / Roosevelt High School
21                        Clarkston, MI / Muskegon (USHL)
22                   Toronto, Ont. / Upper Canada College
23                         Petaluma, Calif. / Casa Grande
24                    Whiteland, IN / Whiteland Community
25                                Concord, Mass. / Groton
26                                Saratoga, CA / Saratoga
27               Auckland, New Zealand / Auckland Grammar
28                 Princeton, N.J. / Princeton Day School
29                           Longwood, FL / Lake Brantley
                              ...
7244                                         Atlanta, Ga.
7245                                       Winnetka, Ill.
7246                                   North Haven, Conn.
7247                                        Shamong, N.J.
7248                                       Houston, Texas
7249                                    Minnetonka, Minn.
7250                                    San Diego, Calif.
7251                                   Mechanicsberg, Pa.
7252                                         Plano, Texas
7253                                       New City, N.Y.
7254                                       Houston, Texas
7255                                        Toronto, Ont.
7256                                        Kenmore, N.Y.
7257                                      Montclair, N.J.
7258                                     Lexington, Mass.
7259                                         Atlanta, Ga.
7260                                         Lilburn, Ga.
7261                                        Austin, Texas
7262                                       Brooklyn, N.Y.
7263                                       El Paso, Texas
7264                                        Austin, Texas
7265                                        Tenafly, N.J.
7266                                  Los Angeles, Calif.
7267                                        Lowell, Mich.
7268                                       Corona, Calif.
7269                                      Las Vegas, Nev.
7270                                     Hornchurch, U.K.
7271                                       Okotoks, Alta.
7272                                      Princeton, N.J.
7273                                   Strongsville, Ohio
Name: Hometown, dtype: object

In [42]:
places = df['Hometown'].apply(lambda x: x.split("/")[0].strip() if type(x )== str else "")

In [43]:
places.shape

(7274L,)

In [48]:
uplaces.shape

(3274L,)

In [45]:
uplaces = places.unique()

In [46]:
uOut = os.path.join(interimPath, 'hometowns.csv')

In [47]:
pd.Series(uplaces).to_csv(uOut)

In [ ]:
# use chmod +x first to make script executable, then runsrc/data/geocode
# if gnu parallel not available, 
# currently uses cameron's mapquest API key, get 15k calls per month
# csvcut hometowns.csv -c 2  | parallel --progress ./geocode {} > geocodes.csv