In [1]:
# Assumes Anaconda Distribution

# For data manipulation
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
PROJ_ROOT = os.pardir

# For Scraping
from bs4 import BeautifulSoup
import requests
import time

# For munging
import re
import json

# Backoff time for large scrapes
THROTTLE_TIME = .05

# ipython magics
%load_ext watermark
%matplotlib inline
# a nice bonus for making progress bars in ipython
from tqdm import tqdm, tqdm_pandas, tqdm_notebook
tqdm.pandas()

In [14]:
!ls "../data/processed"

high_schools_processed.csv
player_bios_processed.csv
player_bios_processed_wrapped.csv
rosters_processed.csv

In [36]:
procPath = os.path.join(PROJ_ROOT, 'data', 'processed')
interimPath = os.path.join(PROJ_ROOT, 'data', 'interim')
df = pd.read_csv(os.path.join(procPath, "player_bios_processed.csv"))

In [25]:
df.columns

Index([u'Student_ID', u'Name', u'City', u'High School', u'Hometown', u'Ht.',
       u'No.', u'Position', u'Region', u'Wt.', u'Active Seasons', u'Misc',
       u'Bio', u'College'],
      dtype='object')

In [31]:
df['Hometown']

0                          Bonne Terre, MO / North County
1                      Seattle, Wash. / South Kent School
2                     Buena Park, Calif. / Vista Murrieta
3                   Altamonte Springs, FL / Lake Brantley
4       Port Washington, N.Y. / Paul D. Schreiber High...
5              Somerset West, South Africa / Panel Vallei
6          Eden Prairie, Minn. / Eden Prairie High School
7          St. Catharines, Ont., Canada / Governor Simcoe
8                                   Cypress, TX / Cy-Fair
9                                                   - / -
10                       Miramar, Fla. / Somerset Academy
11               Barnstable, MA / Phillips Exeter Academy
12                 Eagle River, Alaska / Brewster Academy
13                            Dover, NH / Phillips Exeter
14                          Olney, Md. / Montgomery Blair
15                               Richmond, Va. / Deep Run
16               Newton, Mass. / Newton North High School
17                                   Burke, VA / Robinson
18                  Dover, MA / Choate Rosemary Hall (CT)
19                                Jericho, N.Y. / Jericho
20                   Seattle, Wa. / Roosevelt High School
21                        Clarkston, MI / Muskegon (USHL)
22                   Toronto, Ont. / Upper Canada College
23                         Petaluma, Calif. / Casa Grande
24                    Whiteland, IN / Whiteland Community
25                                Concord, Mass. / Groton
26                                Saratoga, CA / Saratoga
27               Auckland, New Zealand / Auckland Grammar
28                 Princeton, N.J. / Princeton Day School
29                           Longwood, FL / Lake Brantley
                              ...
7244                                         Atlanta, Ga.
7245                                       Winnetka, Ill.
7246                                   North Haven, Conn.
7247                                        Shamong, N.J.
7248                                       Houston, Texas
7249                                    Minnetonka, Minn.
7250                                    San Diego, Calif.
7251                                   Mechanicsberg, Pa.
7252                                         Plano, Texas
7253                                       New City, N.Y.
7254                                       Houston, Texas
7255                                        Toronto, Ont.
7256                                        Kenmore, N.Y.
7257                                      Montclair, N.J.
7258                                     Lexington, Mass.
7259                                         Atlanta, Ga.
7260                                         Lilburn, Ga.
7261                                        Austin, Texas
7262                                       Brooklyn, N.Y.
7263                                       El Paso, Texas
7264                                        Austin, Texas
7265                                        Tenafly, N.J.
7266                                  Los Angeles, Calif.
7267                                        Lowell, Mich.
7268                                       Corona, Calif.
7269                                      Las Vegas, Nev.
7270                                     Hornchurch, U.K.
7271                                       Okotoks, Alta.
7272                                      Princeton, N.J.
7273                                   Strongsville, Ohio
Name: Hometown, dtype: object

In [42]:
places = df['Hometown'].apply(lambda x: x.split("/")[0].strip() if type(x )== str else "")

In [43]:
places.shape

(7274L,)

In [48]:
uplaces.shape

(3274L,)

In [45]:
uplaces = places.unique()

In [46]:
uOut = os.path.join(interimPath, 'hometowns.csv')

In [47]:
pd.Series(uplaces).to_csv(uOut)

In [ ]:
# use chmod +x first to make script executable, then runsrc/data/geocode
# if gnu parallel not available, 
# currently uses cameron's mapquest API key, get 15k calls per month
# csvcut hometowns.csv -c 2  | parallel --progress ./geocode {} > geocodes.csv

In [54]:
!ls ../data/interim

harvard_bio_parsed.csv.gz
harvard_bios_processed.csv
harvard_players.json
harvard_rosters.p
hometowns.csv
players.json
rosters.p
yale_bio_parsed.csv.gz
yale_bios_processed.csv

In [56]:
biosPath = os.path.join(PROJ_ROOT, 'data', 'interim', "yale_bio_parsed.csv.gz")

In [57]:
d2 = pd.read_csv(biosPath, compression='gzip')

In [66]:
d2['synopsis'].iloc[0][:8]

'Row(_1=u'

In [60]:
d2['synopsis']

0       Row(_1=u'\n2009: Made 22 appearances, includin...
1       Row(_1=u'\n2010: Team captain.\n2009: Made 12 ...
2       Row(_1=u'\n2015-16 (Junior): Three\xc2\xa0seat...
3       Row(_1=u'\n2012-13:\xa0Rowed in stroke-seat of...
4       Row(_1=u"\n2006 Backup DB who played in all bu...
5       Row(_1=u'\n2008: First-team All-Ivy... Started...
6       Row(_1=u'\n2008: Honorable-mention All-Ivy... ...
7       Row(_1=u'\n2008: Student assistant coach with ...
8       Row(_1=u'\n2008: Earned varsity letter after a...
9       Row(_1=u'\n2007: Two touchdowns at rival Princ...
10      Row(_1=u'\n2008: Started seven of ten game at ...
11      Row(_1=u'\n2006: Recovered from injury and did...
12      Row(_1=u'\n2013: Made 16 appearances with four...
13      Row(_1=u'\n2006: Varsity backup TE who played ...
14      Row(_1=u"\n2010-11:  Rowed in the bow seat of ...
15      Row(_1=u'\n2008: Played in all 10 games on spe...
16      Row(_1=u'\n2008: Missed season due to injury.\...
17      Row(_1=u"\n2008: Started first five games at Q...
18      Row(_1=u"\n2008: Started all 10 games at WR......
19      Row(_1=u'\n2006:Played in every game on specia...
20      Row(_1=u'\n2008:\xc2\xa0Played in six games at...
21      Row(_1=u'\n2008: National Football Foundation ...
22      Row(_1=u'\n2008:\xc2\xa0Played in eight games ...
23      Row(_1=u"\n2006 Missed season with injury.\n\n...
24      Row(_1=u"\nBefore Yale: Finished his senior se...
25      Row(_1=u"\n2009: Appeared in 29 games, includi...
26      Row(_1=u'\n2008:\xc2\xa0Started eight games at...
27      Row(_1=u"\n2008: Played in all ten games at OG...
28      Row(_1=u'\n2006 Started every game at defensiv...
29      Row(_1=u"\n2008: Played in all 10 games at LB....
                              ...
8588    Row(_1=u"\n2008: Academic All-Ivy and CoSIDA A...
8589    Row(_1=u'\n2006: Played JV.  2005: Played JV. ...
8590    Row(_1=u'\n2013: Made 16 appearances with 15 s...
8591    Row(_1=u"\n2006: Missed season due to injury. ...
8592    Row(_1=u'\n2008: Appeared in four games as res...
8593    Row(_1=u"\n2006: Honorable mention All-Ivy... ...
8594    Row(_1=u'\n2008:\xa0Played on JV team.2007: Pl...
8595    Row(_1=u"\n2005: Earned second varsity letter....
8596    Row(_1=u"\n2012-13:\xa0Rowed in 4 seat of the ...
8597    Row(_1=u"\nNote: Injured in 2007 spring and wi...
8598    Row(_1=u"\n2005: Earned second varsity letter....
8599    Row(_1=u'\n2005: Earned second varsity letter....
8600    Row(_1=u'\n2008: Played on JV team.  2007: Pla...
8601    Row(_1=u"\n2008:Yale Football Captain...Buck B...
8602    Row(_1=u"\n2013: Selected by the Los Angeles D...
8603    Row(_1=u'\n2008: Second-team All-Ivy... Second...
8604    Row(_1=u'\n2008: Appeared in one game as defen...
8605    Row(_1=u"\n2008:\xc2\xa0Earned first varsity l...
8606    Row(_1=u'\n2008:\xc2\xa0Earned first varsity l...
8607    Row(_1=u'\nBefore Yale: Four-year starting sec...
8608    Row(_1=u"\n2008: Backed up All-Ivy punter/kick...
8609    Row(_1=u'\n2008: Played on JV team.\n2007: Pla...
8610    Row(_1=u'\n2008:\xa0\xa0Appeared in all 10 gam...
8611    Row(_1=u"\n2008: Played on JV team.\n\n2007: P...
8612    Row(_1=u"\n2008:\xc2\xa0Played on JV team.\n20...
8613    Row(_1=u'\n2008: Earned second varsity letter....
8614    Row(_1=u'\n2009: Did not play due to injury.\n...
8615    Row(_1=u'\n2013: One of Yale\u2019s four prima...
8616    Row(_1=u"\n2008:\xc2\xa0Starting punt and kick...
8617    Row(_1=u"\n2008: Will serve as student assista...
Name: synopsis, dtype: object