In [2]:
# Perform setup
import os
import pandas as pd
import matplotlib.pyplot as plt
import re
import json

PROJ_ROOT = os.pardir

In [3]:
majorsPath = os.path.join(PROJ_ROOT, "data", "processed", "by_major.csv")
majors = pd.read_csv(majorsPath)

In [4]:
majors.head()

,Major,Name,City,High School,Hometown,Ht.,No.,Position,Region,Wt.,Misc,Bio,College,StartSeason,EndSeason
0,NaN,5727,5727,5727,5727,3071,3129,3313,5727,2280,5722,5624,5727,5727,5727
1,Undeclared,557,557,557,557,336,257,275,557,183,557,536,557,557,557
2,Economics,212,212,212,212,116,94,103,212,81,212,202,212,212,212
3,Psychology,78,78,78,78,46,41,41,78,19,78,76,78,78,78
4,Political science,74,74,74,74,41,34,36,74,32,74,71,74,74,74

In [5]:
# Get rid of the first two rows, which contain totals and Undeclared
majors = majors.drop([0,1], axis=0)

In [6]:
# Make all names lowercase to get rid of redudancies
majors["Major"] = majors["Major"].map(lambda x: x.lower())

In [7]:
majors = majors.groupby("Major").sum().sort_values("Name", ascending=False)

In [8]:
# No more indecisive people
majors = majors.drop("undecided", axis=0)

In [9]:
majors = majors.reset_index()

In [10]:
majors.head()
majors = majors.iloc[:, 0:2]

In [11]:
majors.columns = ["Major", "Count"]
majors.head()
govCount = majors.loc[majors["Major"] == "government",]["Count"]
majors.set_value(
    majors["Major"] == "political science",
    "Count",
        majors.loc[majors["Major"] == "political science",]["Count"] + int(govCount)
)

                                               Major  Count
0                                          economics    212
1                                  political science    148
2                                         psychology     78
3                                            history     56
4                                         government     31
5                                          sociology     19
6                             biomedical engineering     16
7                              environmental studies     15
8                                   american studies     14
9                                            english     14
10     molecular, cellular and developmental biology     13
11                               history and science     12
12           history of science, history of medicine     12
13                                           physics     10
14                                      neurobiology     10
15                                      anthropology      9
16                                  computer science      9
17                                      architecture      9
18                                         chemistry      9
19                         environmental engineering      8
20               organismic and evolutionary biology      8
21                               applied mathematics      8
22                                    social studies      7
23                            mechanical engineering      7
24                                        humanities      6
25                        human evolutionary biology      6
26   history of science, medicine, and public health      6
27                                    global affairs      6
28           environmental science and public policy      6
29                                        statistics      6
..                                               ...    ...
109                                        davenport      1
110   history &amp;amp; science: science and society      1
111                     global affairs and economics      1
112                    history and political science      1
113                           computing and the arts      1
114                           geology and geophysics      1
115                           folklore and mythology      1
116                   evolutionary biology/economics      1
117                             evolutionary biology      1
118              environmental studies and economics      1
119                               history/psychology      1
120                     ecology/evolutionary biology      1
121                   economics and computer science      1
122     human developmental and regenerative biology      1
123            classical civilizations and economics      1
124            environmental science & public policy      1
125                                    environmental      1
126                  isual and environmental studies      1
127                            latin american studes      1
128                    economics & political science      1
129                                     enginneering      1
130                            chemistry (intensive)      1
131                          mathematics and physics      1
132                             chemical engineering      1
133     engineering sciences: mechanical & materials      1
134             mechanical engineering and economics      1
135                    modern middle eastern studies      1
136                 molecular &amp; cellular biology      1
137              molecular biophysics & biochemistry      1
138                economics &amp; political science      1

[139 rows x 2 columns]

In [12]:
majors.head()

               Major  Count
0          economics    212
1  political science    148
2         psychology     78
3            history     56
4         government     31

In [13]:
majors = majors.drop(majors[majors["Major"] == "government"].index, axis=0)

In [14]:
majors.head()

               Major  Count
0          economics    212
1  political science    148
2         psychology     78
3            history     56
5          sociology     19

In [15]:
# Export this table for further visualization
exportPath = os.path.join(PROJ_ROOT, "data", "processed", "majors_processed.csv")
majors.to_csv(exportPath, encoding='utf=8')

In [16]:
# Prepare a separate csv containing the top 10 majors
topMajors = majors.iloc[:10,:]

In [18]:
topPath = os.path.join(PROJ_ROOT, "data", "processed", "top_majors_processed.csv")
topMajors.to_csv(topPath, encoding='utf=8')