In [2]:
# Clean up Rosters data and make it consistent with players data
import os
import pandas as pd
import matplotlib.pyplot as plt
PROJ_ROOT = os.pardir

# For munging
import re
import json

In [5]:
rostersPathH = os.path.join(PROJ_ROOT, "data", "interim", "harvard_rosters.p")
rostersPathY = os.path.join(PROJ_ROOT, "data", "interim", "rosters.p")

harvardRosters = pd.read_pickle(rostersPathH)
yaleRosters = pd.read_pickle(rostersPathY)

In [4]:
harvardRosters.head()

,metadata,players,season,sport
0,"[No., Name, Yr., Position, B/T, Ht., Wt., Home...","[{u'No.': u'6', u'Name_link': u'/sports/bsb/20...",2008-09,bsb
1,"[No., Name, Yr., Position, B/T, Ht., Wt., Home...","[{u'No.': u'20', u'Name_link': u'/sports/bsb/2...",2012-13,bsb
2,"[No., Name, Yr., Position, B/T, Ht., Wt., Home...","[{u'No.': u'20', u'Name_link': u'/sports/bsb/2...",2014-15,bsb
3,"[No., Name, Yr., Position, B/T, Ht., Wt., Home...","[{u'No.': u'1', u'Name_link': u'/sports/bsb/20...",2016-17,bsb
4,"[No., Name, Yr., Position, B/T, Ht., Wt., Home...","[{u'No.': u'6', u'Name_link': u'/sports/bsb/20...",2009-10,bsb

In [6]:
yaleRosters.head()

,metadata,players,season,sport
0,"[No., Name, Pos., Cl., B/T, Ht., Wt., Hometown...","[{u'Pos.': u'C', u'No.': u'11', u'Name_link': ...",2008-09,Baseball
1,"[No., Name, Pos., Cl., B/T, Ht., Wt., Hometown...","[{u'Pos.': u'IF/OF', u'No.': u'4', u'Name_link...",2012-13,Baseball
2,"[No., Name, Pos., Cl., B/T, Ht., Wt., Hometown...","[{u'Pos.': u'RHP', u'No.': u'12', u'Name_link'...",2014-15,Baseball
3,"[No., Name, Pos., Cl., B/T, Ht., Wt., Hometown...","[{u'Pos.': u'IF/OF', u'No.': u'1', u'Name_link...",2016-17,Baseball
4,"[No., Name, Pos., Cl., B/T, Ht., Wt., Hometown...","[{u'Pos.': u'IF', u'No.': u'1', u'Name_link': ...",2009-10,Baseball

In [8]:
type(harvardRosters["players"])

pandas.core.series.Series